---
site_name: "Webex Contact Center Bootcamp: Proactive Debt collection and Contention resolution" 
site_description: "Proactive Debt collection and Contention resolution" # must be same as "site_name"
site_author: Juan Corral et.al.
copyright: Copyright &copy; 2026 Cisco
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexesmkd
    - navigation.instant
    - navigation.top
    - navigation.footer
    - search.suggest
    - content.code.copy
    - toc.integrate
  custom_dir: docs/overrides
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  logo: template_assets/webexLogo91.png
  favicon: template_assets/webex75.png
extra:
  generator: false
  repo: "https://github.com/jucorralg/Lab-Web-Template.git"
  site_event: test
extra_css:
  - stylesheets/extra.css
extra_javascript:
  - template_assets/js/newLoad.js
  - template_assets/js/setInfo.js
plugins:
  - search
  
  # - with-pdf:
  #     cover_title: LABXXX-1234
  #     cover_subtitle: My famous WebexOne Lab
  #     cover_logo: template_assets/Wx1_25_PDF_image.jpg
  - glightbox:
      touchNavigation: true
      loop: false
      effect: fade
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: false
      skip_classes:
      - custom-skip-class-name
      auto_caption: true
      caption_position: top
markdown_extensions:
  - md_in_html
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - tables
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true  # Makes them look much better (Material style)
  - pymdownx.emoji:
      # emoji_index: !!python/name:materialx.emoji.twemoji
      # emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
      
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
nav:
  - Home: index.md
  - Lab:
      - Overview: overview.md
      - Lab 0 - testing md file: lab0_testing.md
      - Lab 1 - Using Postman to interact with CJDS.: lab1_bruno.md
      - Lab 2 - CJDS Identity Management, Progressive Profiles and Actions.: lab2_query_JDS.md
      - Lab 3 - IVR flow integration with CJDS: lab3_injecting_JDS_event.md
      - Lab 4 - AI Agent Integration with CJDS: lab4_ai_agent_jds.md
      - Extra Lab - NovaPay Payment Service: lab_novapay.md
  #- How to use this guide:
  #    - Setting up and using the tool:
  #      - Initial Setup: howToUse/initialSetup.md
  #      - Using the tool after the initial setup: howToUse/postInitial.md
  #      - Publishing your changes: howToUse/syncChanges.md
  #    - Styling and Advanced Features:
  #      - Markdown and Other References: howToUse/references.md
  #      - Custom Features: howToUse/customFeatures.md
  #      - Custom Admonitions: howToUse/admonition.md
 